<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400, 600" rel="stylesheet">
    <link href="style.css" type="text/css" rel="stylesheet">
  </head>
<body>

  <div class="jumbotron">
    <div class="container">  
      <div class="main">
        <h1>MSeven London</h1>
        <a class="button btn-main" href="#">Get started</a>
      </div>
    </div>
  </div>

  <div class="supporting">
    <div class="container">

      <div class="col">
        <img src="http://media.istockphoto.com/vectors/measuring-tape-vector-id165930440?k=6&m=165930440&s=170667a&w=0&h=SrdrfLoOOtX8VTWYe1d3uodEoL2zDdVIvnrBsYdCxQI=">
        <h2>Made to measure</h2>
        <p>Individually crafted adjusted to a man's taste.</p>
        <a class="button btn-default" href="#">Learn more</a>
      </div>

      <div class="col">
        <img src="http://olddesignshop.com/wp-content/uploads/2013/08/OldDesignShop_Shears1894BW2.jpg">
        <h2>Bespoke tailoring</h2>
        <p>Choose your materials, styles, cut and fashion.</p>
        <a class="button btn-default" href="#">Learn more</a>
      </div>

      <div class="col">
        <img src="http://publicdomainvectors.org/photos/johnny_automatic_polo_pony.png">
        <h2>Dedicated to tradition</h2>
        <p>History in a modern jacket Legacy in a suit..</p>
        <a class="button btn-default" href="#">Learn more</a>
      </div>

    </div>
    <div class="clearfix"></div>
  </div>

  <div class="footer">
    <div class="container">
      <p>Copyright &copy; 2016 MSeven London - All Rights Reserved</p>
    </div>
  </div>

</body>
</html>